<footer class="footer">
  <div class="container">
    <div class="footer__contacts">
      <p class="footer__address">Адрес: г. Пушкино, Московский пр-т, д 27, под.9.</p>
      <p class="footer__phone">Тел.: +7 (925) 795-77-59</p>
    </div>
    <div class="footer__socials socials">
      <a href="#" class="socials__fb social"></a>
      <a href="#" class="socials__inst social"></a>
    </div>
    <p class="footer__copyrights">
      © ДиаДент, 2017. Разработка сайта: TABO Labs X Outlier
    </p>
  </div>
</footer>