<div class="gallery__images">
  <div class="gallery__row">
    <div class="gallery__column">
      <a href="../img/gallery_v_01.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_01.jpg" alt="">
      </a>
      <a href="../img/gallery_v_02.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_02.jpg" alt="">
      </a>
      <a href="../img/gallery_v_03.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_03.jpg" alt="">
      </a>
    </div>
    <div class="gallery__column">
      <a href="../img/gallery_v_04.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_04.jpg" alt="">
      </a>
      <a href="../img/gallery_v_05.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_05.jpg" alt="">
      </a>
      <a href="../img/gallery_v_06.jpg" class="gallery__image" data-fancybox="gallery">
        <img src="../img/gallery_v_06.jpg" alt="">
      </a>
    </div>
  </div>
</div>
