<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="navigation__logo logo">
        <div class="logo__image">
          <a href="index.html"><img src="img/diadent_logo.svg" alt=""></a>
        </div>
        <p class="slogan">
          Частная <br>
          Стоматологическая <br>
          Практика
        </p>
      </div>
      <ul class="main-navigation">
        <li class="main-navigation__item">
          <a href="clinic.html" class="main-navigation__link">Клиника</a>
        </li>
        <li class="main-navigation__item">
          <a href="price.html" class="main-navigation__link">Услуги</a>
        </li>
        <li class="main-navigation__item">
          <a href="doctors.html" class="main-navigation__link">Врачи</a>
        </li>
        <li class="main-navigation__item">
          <a href="articles.html" class="main-navigation__link main-navigation__link_active">Новости</a></li>
        <li class="main-navigation__item">
          <a href="contacts.html" class="main-navigation__link">Контакты</a>
        </li>
      </ul>
      <a href="#" class="menu-toggle">
        <span class="menu-toggle__icon"></span>
      </a>
      <a href="tel:+79257957759" class="navigation__phone phone">+7 (925) 795-77-59</a>
    </nav>
  </div>
</header>

