.article {
  & .header {
    position: relative;
  }
}

.article-full {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 8rem;
  @include mobile {
    flex-direction: column;
  }

  &__slider {
    flex: 1 1 50%;
    margin-right: 4rem;
    @include mobile {
      flex: 1 1 auto;
      margin-right: 0;
    }

    & img {
      display: none;
    }
  }

  &__content {
    flex: 1 1 50%;
    position: relative;
  }

  &__title {
    font-size: 24px;
    padding-left: 60px;
  }

  &__date {
    position: absolute;
  }
}