.jumbotron_news {
  height: 360px;
  background-image: url(../../img/jumbo-articles.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 5.2rem;
    margin-bottom: 0;
    margin-top: 5rem;
    color: #ffffff;
  }
}

.articles-list {
  margin-top: 5rem;
  @include mobile {
    margin-top: 2rem;
  }

  &__load-more {
    display: block;
    width: 20rem;
    text-align: center;
    font-size: 1.6rem;
    color: #43c7b6;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-decoration: none;

    &::before {
      content: '';
      display: block;
      width: 5.7rem;
      height: 5.7rem;
      background-image: url(../img/icons/icon-load.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin: 0 auto 1rem;
      transition: all .3s ease-out;
      @include mobile {
        width: 3rem;
        height: 3rem;
      }
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      &::before {
        transform: rotate(360deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1 1 auto;
    width: 21%;
    margin: 0 2rem 4rem;
    border: 1px solid #d8d8d8;
    @include mobile {
      width: auto;
      margin: 0 0 2rem;
    }
  }
}

.article {
  transition: all .3s ease;
  text-decoration: none;
  color: #353535;

  &:hover,
  &:focus {
    border-color: #58cebf;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 2%;
  }

  &__title {
    font-size: 16px;
    margin: 0;

  }

  &__image {

    & img {
      display: block;
      @include mobile {
        width: 100%;
      }
    }
  }

  &__content {
    padding-top: .5rem;
    padding-right: 3rem;
    padding-left: 5.5rem;
    padding-bottom: 2rem;
    position: relative;
    @include mobile {
      padding-left: 6.5rem;
    }
  }

  &__message {
    font-size: 14px;
  }
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: '';
    width: 2px;
    height: 80%;
    position: absolute;
    right: -10px;
    top: 14%;
    background-color: #c9c9c9;
  }

  &__day {
    font-size: 28px;
    line-height: 1.25;
    color: #43c7b6;
  }

  &__month {
    font-size: 16px;
    line-height: 1.25;
    color: #c9c9c9;
  }
}