.certificates-block {

  &__certificates {
    display: flex;
  }

  &__certificate {
    max-height: 25rem;

    & img {
      height: 100%;
    }
  }

  &__certificate:not(:last-child) {
    margin-right: 3rem;
  }
}