.video {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  @include mobile {
    display: none;
  }

  &__player {
    object-fit: fill;
    height: 100%;
    width: 100vw;
  }

  &__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/video-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-decoration: none;

    &:hover .video__title::after,
    &:focus .video__title::after {
      content: '';
    }
  }

  &__title {
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    @include mobile() {
      display: none;
    }

    &::after {
      content: normal;
      display: block;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -6px;
      background-color: #fff;
    }
  }

  &__play-icon {
    width: 9rem;
    height: 9rem;
    margin: 0 auto 1rem;
    border-radius: 50%;
    background-image: url(../img/icons/icon-play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    @include mobile() {
      margin-bottom: 0;
    }
  }
}

.clinic .jumbotron__certificates .arrow {
    &_r {
      background-image: url(../img/icons/arrow_r_white.svg);
      left: calc(100% - 1rem);
    }

    &_l {
      background-image: url(../img/icons/arrow_l_white.svg);
      right: calc(100% - 1rem);
    }
}