.features {
  display: flex;
  padding: 8rem 0;
  @include mobile() {
    padding: 4.5rem 0;
    flex-direction: column;
  }

  &__item {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include mobile() {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}

.feature {

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    @include mobile() {
      margin-bottom: 1rem;
    }
  }

  &__link {
    margin-top: auto;
  }

  &__icon {
    box-sizing: border-box;
    width: 22.5rem;
    height: 22.5rem;
    padding: 5rem;
    background-color: #43c7b6;
    border-radius: 50%;
    margin: 0 auto 3rem;
    @include desktop() {
      padding: 3rem;
      width: 15rem;
      height: 15rem;
    }
    @include mobile() {
      margin-bottom: 1.5rem;
    }
  }
}

.features-wrapper {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, .89));
}

.ind-features {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  &__item {
    display: flex;
    width: 25%;
    padding: 0 1rem;
    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__icon {
    padding-top: 2rem;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 3rem;
    @include desktop {
      width: 5rem;
    }
    @include tablet {
      height: 8rem;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
      padding-top: 0;
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__message {
    font-size: 1.4rem;
  }
}