.masonry {
  margin-bottom: 3rem;
}
.masonry__row {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.masonry__column {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.masonry__column_1 {
  width: 20%;
}

.masonry__column_2 {
  width: 40%;
}

.masonry__column_3 {
  width: 60%;
}

.masonry__item {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  &_size-m {
    height: 49rem;
  }

  &_size-s {
    height: 23rem;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  & img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &_h::before {
    padding-bottom: 108%;
  }

  &_v::before {
    padding-bottom: 52%;
  }
}

.gallery__title {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 3rem;
}