html {
  font-size: 10/16*100%;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 4.5rem;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #353535;
}

footer,
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.socials {
  display: flex;
  align-items: center;
  & .social {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &__fb {
    background-image: url(../img/icons/icon-facebook.svg);
    margin-right: 1rem;
  }
  &__inst {
    background-image: url(../img/icons/icon-instagram.png);
  }
}

.btn {
  padding: 1.5rem 5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
.header {
  background: rgba(255, 255, 255, 0.84);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  @include mobile {
    background-color: #fff;
  }
}

.index header,
.index .header {
  background-color: transparent;

  @include mobile {
    background: rgba(255, 255, 255, 1);
    position: static;
  }
}

h1, .h1 {
  font-size: 7.2rem;
  @include mobile() {
    font-size: 5rem;
  }
}

footer,
.footer {
  background-color: #43c7b6;
  color: #ffffff;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
}

.footer__address {
  margin-right: 5px;
}

.l_back {
  color: #353535;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.icon {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.icon-parodontology {
    background-image: url(../img/icons/icon-paradontology.png);
  }

  &.icon-hygiene {
    background-image: url(../img/icons/icon-hygiene.png);
  }

  &.icon-implant {
    background-image: url(../img/icons/icon-implant.png);
  }

  &.icon-tooth {
    background-image: url(../img/icons/icon-tooth.png);
  }
}