html {
  font-size: 10/16*100%;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  line-height: 1.25;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
.header {
  background: rgba(255, 255, 255, 0.84);
  width: 100%;
}

.index header,
.index .header {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  @include mobile {
    background: rgba(255, 255, 255, 1);
    position: static;
  }
}

footer,
.footer {
  background-color: #43c7b6;
  color: #ffffff;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
}

.footer__address {
  margin-right: 5px;
}

.l_back {
  color: #353535;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}